In [1]:
import pandas as pd

In [3]:
chi3 = pd.read_csv('athelete.csv')
chi3

     id class rank gender are you an athelete
0   101    Fresher      M                 Yes
1   102     Junior      M                  No
2   103    Fresher      F                  No
3   104     Junior      M                  No
4   105     Junior      F                 Yes
5   106    Fresher      M                  No
6   107     Senior      F                 Yes
7   108     Senior      F                  No
8   109    Fresher      M                 Yes
9   110     Junior      M                  No
10  111     Senior      F                 Yes
11  112     Senior      M                  No
12  113    Fresher      F                 Yes
13  114     Junior      M                  No
14  115     Junior      M                 Yes
15  116     Senior      F                  No
16  117     Senior      F                 Yes
17  118    Fresher      M                  No
18  119    Fresher      F                 Yes
19  120    Fresher      M                 Yes
20  121    Fresher      M                 Yes
21  122     Senior      F                  No
22  123     Junior      F                  No
23  124     Senior      M                 Yes
24  125    Fresher      F                  No
25  126     Senior      F                  No
26  127     Senior      F                  No
27  128    Fresher      F                  No
28  129    Fresher      F                 Yes
29  130     Junior      M                  No
30  131     Junior      M                 Yes
31  132     Senior      M                 Yes
32  133     Junior      F                  No
33  134     Senior      F                  No
34  135    Fresher      M                 Yes
35  136     Junior      F                 Yes
36  137    Fresher      F                  No
37  138     Senior      M                  No
38  139    Fresher      F                  No

In [6]:
contingency = pd.crosstab(chi3['class rank'], chi3['gender'])
contingency

gender      F  M
class rank
Fresher     8  7
Junior      4  7
Senior      9  4

In [7]:
alpha = 1.0
from scipy.stats import chi2_contingency
chi2, p , dof, e = chi2_contingency(contingency)
if p > alpha:
    print('reject_H0')
else:
    print('accept_H0')

accept_H0